<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%X{X-Trace-Id}] %-5level [%thread] %logger{36} - %msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %highlight(%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%X{X-Trace-Id}] %-5level [%thread] %logger{36} - %msg%n)
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.springframework" level="INFO"/>
    <logger name="reactor.netty" level="WARN"/>
</configuration>
